# Bicol University Workshop: Data Cleaning
Prepared by: John Raymond B. Barajas

## Confidentiality Notice

This Jupyter Notebook and its contents are confidential and intended solely for the use of the intended recipient(s). If you have received this Notebook in error, please notify the sender immediately and delete it from your system. Any unauthorized use, disclosure, copying, or distribution of this Notebook is strictly prohibited.

The information contained in this Notebook may be privileged and confidential, and is intended only for the named recipient(s). Any review, dissemination, distribution, or copying of this Notebook by anyone other than the intended recipient(s) is strictly prohibited.

The content and opinions expressed in this Notebook are those of the author(s) and may not necessarily reflect the official policies or positions of the organization. Any views or opinions presented in this Notebook are solely those of the author(s) and do not necessarily represent those of the organization.

The security and integrity of the content of this Notebook cannot be guaranteed, and the author(s) shall not be held responsible for any unauthorized modification or alteration of the content.

Please treat this Notebook and its contents with the utmost confidentiality and refrain from sharing or distributing it without explicit permission from the author(s) or the organization.

Thank you for your cooperation and understanding.

## Install the Necessary Libraries

In [1]:
# !pip install pandas
# !pip install openpyxl

## Import the Necessary Libraries

In [2]:
import pandas as pd

## Clean FHE and TES Data

### Make FHE Excel Data into a Single csv file

In [3]:
# read data
df_fhe_20182019 = pd.read_excel('FHE_Data_AY_2018-2019_to_2022-2023_edited.xlsx', sheet_name='2018-2019')

# edit column names
df_fhe_20182019.columns = ['REGION', 'HEI_NAME', 'HEI_TYPE', 'HEI_CITY', 'HEI_PROVINCE',
                           'FHE_GRANTEES', 'SEX_M', 'SEX_F', 'NOT_INDICATED']

# put year in new column
df_fhe_20182019['YEAR'] = '2018-2019'

In [4]:
# read data
df_fhe_20192020 = pd.read_excel('FHE_Data_AY_2018-2019_to_2022-2023_edited.xlsx', sheet_name='2019-2020')

# edit column names
df_fhe_20192020.columns = ['REGION', 'HEI_NAME', 'HEI_TYPE', 'HEI_CITY', 'HEI_PROVINCE',
                           'FHE_GRANTEES', 'SEX_M', 'SEX_F', 'NOT_INDICATED']

# put year in new column
df_fhe_20192020['YEAR'] = '2019-2020'

In [5]:
# read data
df_fhe_20202021 = pd.read_excel('FHE_Data_AY_2018-2019_to_2022-2023_edited.xlsx', sheet_name='2020-2021')

# edit column names
df_fhe_20202021.columns = ['REGION', 'HEI_NAME', 'HEI_TYPE', 'HEI_CITY', 'HEI_PROVINCE',
                           'FHE_GRANTEES', 'SEX_M', 'SEX_F', 'NOT_INDICATED']

# put year in new column
df_fhe_20202021['YEAR'] = '2020-2021'

In [6]:
# read data
df_fhe_20212022 = pd.read_excel('FHE_Data_AY_2018-2019_to_2022-2023_edited.xlsx', sheet_name='2021-2022')

# edit column names
df_fhe_20212022.columns = ['REGION', 'HEI_NAME', 'HEI_TYPE', 'HEI_CITY', 'HEI_PROVINCE',
                           'FHE_GRANTEES', 'SEX_M', 'SEX_F', 'NOT_INDICATED']

# put year in new column
df_fhe_20212022['YEAR'] = '2021-2022'

In [7]:
# read data
df_fhe_20222023 = pd.read_excel('FHE_Data_AY_2018-2019_to_2022-2023_edited.xlsx', sheet_name='2022-2023')

# edit column names
df_fhe_20222023.columns = ['REGION', 'HEI_NAME', 'HEI_TYPE', 'HEI_CITY', 'HEI_PROVINCE',
                           'FHE_GRANTEES', 'SEX_M', 'SEX_F', 'NOT_INDICATED']

# put year in new column
df_fhe_20222023['YEAR'] = '2022-2023'

In [8]:
# merge all sheets into a single data frame
df_fhe = pd.concat([df_fhe_20182019, df_fhe_20192020, df_fhe_20202021,
                    df_fhe_20212022, df_fhe_20222023])

In [9]:
# write merged data frame into a single csv file
df_fhe.to_csv('fhe_raw_data.csv', index=False)

### Make TES Excel Data into a Single csv file

In [10]:
# read data
df_tes_20182019 = pd.read_excel('TES_Data_AY_2018-2019_to_2022-2023_edited.xlsx', sheet_name='2018-2019')

# edit column names
df_tes_20182019.columns = ['REGION', 'HEI_NAME', 'HEI_TYPE', 'HEI_CITY', 'HEI_PROVINCE',
                           'TES_GRANTEES', 'SEX_M', 'SEX_F', 'EDUC', 'ARTS', 'SOC_SCI',
                           'BUSINESS', 'NAT_SCI', 'INFO', 'ENG', 'AGRI', 'HEALTH', 'SERVICES',
                           'OTHERS']

# put year in new column
df_tes_20182019['YEAR'] = '2018-2019'

In [11]:
# read data
df_tes_20192020 = pd.read_excel('TES_Data_AY_2018-2019_to_2022-2023_edited.xlsx', sheet_name='2019-2020')

# edit column names
df_tes_20192020.columns = ['REGION', 'HEI_NAME', 'HEI_TYPE', 'HEI_CITY', 'HEI_PROVINCE',
                           'TES_GRANTEES', 'SEX_M', 'SEX_F', 'EDUC', 'ARTS', 'SOC_SCI',
                           'BUSINESS', 'NAT_SCI', 'INFO', 'ENG', 'AGRI', 'HEALTH', 'SERVICES',
                           'OTHERS']

# put year in new column
df_tes_20192020['YEAR'] = '2019-2020'

In [12]:
# read data
df_tes_20202021 = pd.read_excel('TES_Data_AY_2018-2019_to_2022-2023_edited.xlsx', sheet_name='2020-2021')

# edit column names
df_tes_20202021.columns = ['REGION', 'HEI_NAME', 'HEI_TYPE', 'HEI_CITY', 'HEI_PROVINCE',
                           'TES_GRANTEES', 'SEX_M', 'SEX_F', 'EDUC', 'ARTS', 'SOC_SCI',
                           'BUSINESS', 'NAT_SCI', 'INFO', 'ENG', 'AGRI', 'HEALTH', 'SERVICES',
                           'OTHERS']

# put year in new column
df_tes_20202021['YEAR'] = '2020-2021'

In [13]:
# read data
df_tes_20212022 = pd.read_excel('TES_Data_AY_2018-2019_to_2022-2023_edited.xlsx', sheet_name='2021-2022')

# edit column names
df_tes_20212022.columns = ['REGION', 'HEI_NAME', 'HEI_TYPE', 'HEI_CITY', 'HEI_PROVINCE',
                           'TES_GRANTEES', 'SEX_M', 'SEX_F', 'EDUC', 'ARTS', 'SOC_SCI',
                           'BUSINESS', 'NAT_SCI', 'INFO', 'ENG', 'AGRI', 'HEALTH', 'SERVICES',
                           'OTHERS']

# put year in new column
df_tes_20212022['YEAR'] = '2021-2022'

In [14]:
# read data
df_tes_20222023 = pd.read_excel('TES_Data_AY_2018-2019_to_2022-2023_edited.xlsx', sheet_name='2022-2023')

# edit column names
df_tes_20222023.columns = ['REGION', 'HEI_NAME', 'HEI_TYPE', 'HEI_CITY', 'HEI_PROVINCE',
                           'TES_GRANTEES', 'SEX_M', 'SEX_F', 'EDUC', 'ARTS', 'SOC_SCI',
                           'BUSINESS', 'NAT_SCI', 'INFO', 'ENG', 'AGRI', 'HEALTH', 'SERVICES',
                           'OTHERS']

# put year in new column
df_tes_20222023['YEAR'] = '2022-2023'

In [15]:
# merge all sheets into a single data frame
df_tes = pd.concat([df_tes_20182019, df_tes_20192020, df_tes_20202021,
                    df_tes_20212022, df_tes_20222023])

In [16]:
# write merged data frame into a single csv file
df_tes.to_csv('tes_raw_data.csv', index=False)

## Clean Entry and Exit Survey Data

### Clean Entry Survey Data

In [17]:
# read data
df_entry_survey = pd.read_excel('STUDENT_SURVEY_ENTRY_EXPORTED_AT2023_06_16_8_42_19_pm_edited.xlsx',
                                sheet_name='Responses')

In [18]:
# identify Check-All-That-Apply questions
cols_CATA_entry = ['Q3', 'Q6', 'Q9']

In [19]:
# check metadata of dataframe
df_entry_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SURVEY_NAME      750 non-null    object
 1   BIRTHDATE        750 non-null    object
 2   SEX              750 non-null    object
 3   GENDER           678 non-null    object
 4   Q1               749 non-null    object
 5   Q1_YES           4 non-null      object
 6   Q1_OTHER         90 non-null     object
 7   ADDRESS          748 non-null    object
 8   FAMILY_INCOME    748 non-null    object
 9   Q2               748 non-null    object
 10  SCHOOL           748 non-null    object
 11  SCHOOL_TYPE      748 non-null    object
 12  ACADEMIC_STATUS  748 non-null    object
 13  COURSE           748 non-null    object
 14  Q3               462 non-null    object
 15  Q3_OTHER         26 non-null     object
 16  Q4               748 non-null    object
 17  Q5               734 non-null    object
 18  Q6               746 non-null    object
 19  Q6_OTHER         5 non-null      object
 20  Q7               748 non-null    object
 21  Q8               747 non-null    object
 22  Q8_OTHER         14 non-null     object
 23  Q9               744 non-null    object
 24  Q9_OTHER         32 non-null     object
dtypes: object(25)
memory usage: 146.6+ KB

#### Make Check-All-That-Apply Options into New Columns

In [20]:
# Count the occurrences of each string in each row
for index, row in df_entry_survey[df_entry_survey['Q3'].notna()].iterrows():
    counts = row['Q3'].split(',')
    for count in counts:
        count_name = count.strip().replace("'", "").replace('"', '')
        column_name = f'Q3_{count_name}'
        df_entry_survey.loc[index, column_name] = counts.count(count_name)

In [21]:
# Count the occurrences of each string in each row
for index, row in df_entry_survey[df_entry_survey['Q6'].notna()].iterrows():
    counts = row['Q6'].split(',')
    for count in counts:
        count_name = count.strip().replace("family’s ", "family ").replace('"', '').replace("in a", 'in')
        column_name = f'Q6_{count_name}'
        df_entry_survey.loc[index, column_name] = counts.count(count_name)

# drop column
df_entry_survey.drop('Q6_please specify', inplace=True, axis=1)

In [22]:
# Count the occurrences of each string in each row
for index, row in df_entry_survey[df_entry_survey['Q9'].notna()].iterrows():
    counts = row['Q9'].split(',')
    for count in counts:
        count_name = count.strip().replace('"', '')
        column_name = f'Q9_{count_name}'
        df_entry_survey.loc[index, column_name] = counts.count(count_name)

# drop column
df_entry_survey.drop('Q9_please specify', inplace=True, axis=1)

#### Make Birthdate Values Consistent

In [23]:
# replace identified strings with None
df_entry_survey['BIRTHDATE'] = df_entry_survey['BIRTHDATE'].str.replace('"', '').str.replace("[", '').str.replace("]",'').str.replace("/",'-')

In [24]:
# get only the first 4 digits that are consecutive (1234 or 2359)
df_entry_survey['BIRTHDATE'] = df_entry_survey['BIRTHDATE'].str.extract(r'((?<!\d)\d{4}|\d{4}(?!\d))')
df_entry_survey['BIRTHDATE'] = df_entry_survey['BIRTHDATE'].str.replace('2022', '2002').str.replace('0001', '2001').str.replace('2023', '2003').str.replace('2021', '2001')

In [25]:
# check if Birthdates are made consistent
df_entry_survey['BIRTHDATE'].unique()

array(['2002', '2001', '1999', '2000', '1996', '2003', '1998', '2004',
       '1994', '1982', '1997'], dtype=object)

#### Create New Column for Age

In [26]:
# create Age column
df_entry_survey['AGE'] = [2023-int(x) for x in df_entry_survey['BIRTHDATE']]

In [27]:
# check dataframe
df_entry_survey

,SURVEY_NAME,BIRTHDATE,SEX,GENDER,Q1,Q1_YES,Q1_OTHER,ADDRESS,FAMILY_INCOME,Q2,...,Q3_Tertiary Education Subsidy (TES),Q6_My family socioeconomic status,Q6_My enrollment in state/government school,Q6_The type of course I am enrolled in,Q6_Others,Q9_Uniform,Q9_Books and other school materials,Q9_Subsidy for school activities,Q9_Others,AGE
0,Student Survey Entry,2002,Male,NaN,Yes,NaN,NaN,"Camarines Norte,Basud,Lidong","Less than 50,000",Yes,...,1.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,21
1,Student Survey Entry,2002,Female,NaN,No,NaN,NaN,"Albay,Camalig,Ilawod","Less than 50,000",No,...,NaN,0.0,0.0,1.0,NaN,NaN,1.0,NaN,NaN,21
2,Student Survey Entry,2001,Female,NaN,No,NaN,NaN,"Albay,Daraga (Locsin),Sagpon","Within 50,000 - 100,000",No,...,NaN,0.0,0.0,1.0,NaN,NaN,1.0,NaN,NaN,22
3,Student Survey Entry,2002,Male,NaN,No,NaN,NaN,"Albay,Bacacay,Barangay 13 (Pob.)","Less than 50,000",No,...,NaN,0.0,0.0,1.0,NaN,NaN,NaN,1.0,NaN,21
4,Student Survey Entry,2001,Female,NaN,No,NaN,NaN,"Camarines Sur,Bato,Santiago (Pob.)","Within 50,000 - 100,000",No,...,NaN,0.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,Student Survey Entry,2001,Male,Man,No,NaN,NaN,"Albay,Pio Duran","25,000 – 49,999",Yes,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,22
746,Student Survey Entry,2000,Female,Woman,No,NaN,NaN,"Sorsogon,Castilla","Less than 25,000",No,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,23
747,Student Survey Entry,2000,Female,Woman,No,NaN,NaN,"Albay,Legazpi City (Capital)","25,000 – 49,999",No,...,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,23
748,Student Survey Entry,2001,Male,Man,No,NaN,NaN,"Albay,Pio Duran","25,000 – 49,999",Yes,...,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,22
749,Student Survey Entry,2001,Female,Prefer not to say,No,NaN,NaN,"Sorsogon,Pilar","Less than 25,000",Yes,...,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,22

#### Write Entry Survey Data as csv File

In [28]:
# write cleaned data into a csv file
df_entry_survey.to_csv('entry_survey_raw_data.csv', index=False)

### Clean Exit Survey Data

In [29]:
# read data
df_exit_survey = pd.read_excel('STUDENT_SURVEY_EXIT_EXPORTED_AT2023_06_19_11_03_33_am_edited.xlsx',
                                sheet_name='Responses')

In [30]:
# identify Check-All-That-Apply questions
cols_CATA_exit = ['Q5', 'Q14']

In [31]:
# check metadata of dataframe
df_exit_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SURVEY_NAME    345 non-null    object
 1   BIRTHDATE      342 non-null    object
 2   SEX            345 non-null    object
 3   GENDER         340 non-null    object
 4   Q1             345 non-null    object
 5   Q1_YES         0 non-null      float64
 6   Q1_OTHER       4 non-null      object
 7   ADDRESS        344 non-null    object
 8   FAMILY_INCOME  345 non-null    object
 9   Q2             345 non-null    object
 10  SCHOOL         344 non-null    object
 11  SCHOOL_TYPE    345 non-null    object
 12  COURSE         340 non-null    object
 13  STUDY_YEARS    340 non-null    object
 14  Q3             341 non-null    object
 15  Q3_OTHER       0 non-null      float64
 16  Q4             344 non-null    object
 17  Q4_YES         120 non-null    object
 18  Q5             344 non-null    object
 19  Q5_OTHER       20 non-null     object
 20  Q6             345 non-null    int64
 21  Q7             345 non-null    int64
 22  Q8             329 non-null    object
 23  Q9             340 non-null    object
 24  Q9_YES         141 non-null    object
 25  Q10            326 non-null    object
 26  Q11            208 non-null    object
 27  Q12            193 non-null    object
 28  Q13            316 non-null    object
 29  Q14            48 non-null     object
 30  Q14_OTHER      4 non-null      object
dtypes: float64(2), int64(2), object(27)
memory usage: 83.7+ KB

#### Make Check-All-That-Apply Options into New Columns

In [32]:
# Count the occurrences of each string in each row
for index, row in df_exit_survey[df_exit_survey['Q5'].notna()].iterrows():
    counts = row['Q5'].split(',')
    for count in counts:
        count_name = count.strip().replace("'", "").replace('"', '')
        column_name = f'Q5_{count_name}'
        df_exit_survey.loc[index, column_name] = counts.count(count_name)

# create function for automatically counting local employment (within)
def label_within(row):
    if row['Q5_Local employment']==1.0 and row['Q5_within the region only']==0:
        return 1.0
    elif row['Q5_Local employment']==2.0:
        return 1.0
    else:
        return None

# create function for automatically counting local employment (outside)
def label_outside(row):
    if row['Q5_Local employment']==1.0 and row['Q5_outside of the region']==0:
        return 1.0
    elif row['Q5_Local employment']==2.0:
        return 1.0
    else:
        return None

# apply functions to dataframe
df_exit_survey['Q5_local employment (within)'] = df_exit_survey.apply(label_within, axis=1)
df_exit_survey['Q5_local employment (outside)'] = df_exit_survey.apply(label_outside, axis=1)
df_exit_survey.drop(['Q5_Local employment', 'Q5_within the region only',
                     'Q5_outside of the region', 'Q5_please specify'], inplace=True, axis=1)

In [33]:
# Count the occurrences of each string in each row
for index, row in df_exit_survey[df_exit_survey['Q14'].notna()].iterrows():
    counts = row['Q14'].split(',')
    for count in counts:
        count_name = count.strip()
        column_name = f'Q14_{count_name}'
        df_exit_survey.loc[index, column_name] = counts.count(count_name)

#### Make Birthdate Values Consistent

In [34]:
# replace identified strings with None
df_exit_survey['BIRTHDATE'] = df_exit_survey['BIRTHDATE'].str.replace('"', '').str.replace("[", '').str.replace("]",'').str.replace("/",'-')

In [35]:
# get only the first 4 digits that are consecutive (1234 or 2359)
df_exit_survey['BIRTHDATE'] = df_exit_survey['BIRTHDATE'].str.extract(r'((?<!\d)\d{4}|\d{4}(?!\d))')
df_exit_survey['BIRTHDATE'] = df_exit_survey['BIRTHDATE'].str.replace('2022', '2002').str.replace('0001', '2001').str.replace('2023', '2003').str.replace('2021', '2001')

In [36]:
# check if Birthdates are made consistent
df_exit_survey['BIRTHDATE'].unique()

array(['2000', '1999', '2002', '1997', '2001', '1998', '1993', nan,
       '1996'], dtype=object)

#### Create New Column for Age

In [37]:
# create Age column
df_exit_survey['AGE'] = [2023-float(x) for x in df_exit_survey['BIRTHDATE']]

In [38]:
# check dataframe
df_exit_survey

,SURVEY_NAME,BIRTHDATE,SEX,GENDER,Q1,Q1_YES,Q1_OTHER,ADDRESS,FAMILY_INCOME,Q2,...,Q14_OTHER,Q5_International employment,Q5_Establish own business,Q5_Others,Q5_Obtain scholarship for graduate school,Q5_local employment (within),Q5_local employment (outside),Q14_Free Higher Education (FHE),Q14_Tertiary Education Subsidy (TES),AGE
0,Student Survey Exit,2000,Female,NaN,No,NaN,NaN,"Albay,Legazpi City (Capital),Bgy. 16 - Kawit-E...","Less than 50,000",Yes,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,23.0
1,Student Survey Exit,1999,Female,NaN,No,NaN,NaN,"Albay,Legazpi City (Capital),","Less than 50,000",No,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,24.0
2,Student Survey Exit,2002,Female,NaN,No,NaN,NaN,"Albay,City Of Tabaco,Bangkilingan","Within 50,000 - 100,000",No,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,21.0
3,Student Survey Exit,2000,Female,NaN,No,NaN,NaN,"Albay,Legazpi City (Capital),Bgy. 34 - Oro Sit...","Within 50,000 - 100,000",Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,23.0
4,Student Survey Exit,1997,Male,Man,No,NaN,NaN,"La Union,City Of San Fernando (Capital)","Less than 25,000",Yes,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,Student Survey Exit,2000,Male,Man,No,NaN,NaN,"Albay,Legazpi City (Capital)","50,000 – 74,999",No,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,23.0
341,Student Survey Exit,2000,Male,Man,No,NaN,NaN,"Albay,Rapu-rapu","25,000 – 49,999",No,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,23.0
342,Student Survey Exit,1996,Male,LGBTQIA+,No,NaN,NaN,"Sorsogon,Donsol","Less than 25,000",No,...,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,27.0
343,Student Survey Exit,2000,Female,Woman,No,NaN,NaN,"Sorsogon,Pilar","Less than 25,000",No,...,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,23.0
344,Student Survey Exit,NaN,Male,NaN,No,NaN,NaN,"Albay,,","Within 50,000 - 100,000",Yes,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [39]:
# write cleaned data into a csv file
df_exit_survey.to_csv('exit_survey_raw_data.csv', index=False)